{% extends "base.html" %}

{% block head %}
<script>
    const searchForOperation = () => {
        const searchInputValue = document.getElementById("operation_search").value;
        const dateFromSelectValue = document.getElementById("date_from").value;
        const dateToSelectValue = document.getElementById("date_to").value;
        window.location.href = `/hotels?location=${searchInputValue}&date_from=${dateFromSelectValue}&date_to=${dateToSelectValue}`;
    }

    const exploreHotelRooms = (hotel_id) => {
        const dateFromSelectValue = document.getElementById("date_from").value;
        const dateToSelectValue = document.getElementById("date_to").value;
        window.location.href = `/hotels/${hotel_id}/rooms?date_from=${dateFromSelectValue}&date_to=${dateToSelectValue}`;
    }
</script>
{% endblock %}

{% block content %}
<body>
<div class="max-w-screen-xl mx-auto">
    <div class="flex justify-center items-center p-2">
        <div class="border-2 border-blue-300 rounded-3xl w-1/4 text-lg px-2 py-1 mr-2 text-ellipsis overflow-hidden scroll-px-4">
            <input class="outline-none flex justify-center items-center px-2 mx-2" id="operation_search" size="34" type="text" value="{{ location }}"
                   placeholder="Я ищу...">
        </div>
        <span>С</span>
        <select id="date_from" class="p-2 mx-2">
            {% for date in dates %}
                <option value="{{ date['date'] }}" {{ 'selected' if date['date_formatted'] == date_from }}>
                    {{ date["date_formatted"] }}
                </option>
            {% endfor %}
        </select>
        <span>По</span>
        <select id="date_to" class="p-2 mx-2">
            {% for date in dates %}
                <option value="{{ date['date'] }}" {{ 'selected' if date['date_formatted'] == date_to }}>
                    {{ date["date_formatted"] }}
                </option>
            {% endfor %}
        </select>
        <button onclick="searchForOperation()"
                class="text-xl text-white bg-slate-400 hover:bg-blue-300 transition duration-300 px-3 py-1 rounded-2xl">Найти</button>
    </div>

    <div class="flex flex-col md:flex-row">
        {% include "hotels_and_rooms/hotels_filters_box.html" %}
        <div id="hotels-result-block">
            {% include "hotels_and_rooms/hotels_search_result.html" %}
        </div>
    </div>
</div>
</body>
{% endblock %}