{% extends "base.html" %}

{% block head %}
<script>
    const searchForOperation = () => {
        const searchInputValue = document.getElementById("operation_search").value;
        const dateFromSelectValue = document.getElementById("date_from").value;
        const dateToSelectValue = document.getElementById("date_to").value;
        window.location.href = `/hotels?location=${searchInputValue}&date_from=${dateFromSelectValue}&date_to=${dateToSelectValue}`;
    }

    const exploreHotelRooms = (hotel_id) => {
        const dateFromSelectValue = document.getElementById("date_from").value;
        const dateToSelectValue = document.getElementById("date_to").value;
        window.location.href = `/hotels/${hotel_id}/rooms?date_from=${dateFromSelectValue}&date_to=${dateToSelectValue}`;
    }
</script>
{% endblock %}

{% block content %}
<body>
<div class="max-w-screen-xl mx-auto">
    <div class="flex justify-center items-center">
        <div class="border-2 border-blue-300 rounded-3xl w-1/4 text-lg px-2 py-1 mr-2 text-ellipsis overflow-hidden scroll-px-4">
            <input class="outline-none flex justify-center items-center px-2 mx-2" id="operation_search" size="34" type="text" value="{{ location }}"
                   placeholder="Я ищу...">
        </div>
        <span>С</span>
        <select id="date_from" class="p-2 mx-2">
            {% for date in dates %}
                <option value="{{ date['date'] }}" {{ 'selected' if date['date_formatted'] == date_from }}>
                    {{ date["date_formatted"] }}
                </option>
            {% endfor %}
        </select>
        <span>По</span>
        <select id="date_to" class="p-2 mx-2">
            {% for date in dates %}
                <option value="{{ date['date'] }}" {{ 'selected' if date['date_formatted'] == date_to }}>
                    {{ date["date_formatted"] }}
                </option>
            {% endfor %}
        </select>
        <button onclick="searchForOperation()"
                class="text-xl text-white bg-slate-400 hover:bg-blue-300 transition duration-300 px-3 py-1 rounded-2xl">Найти</button>
    </div>

    <div class="flex flex-col md:flex-row">
        <div class="flex flex-wrap gap-3 my-4 mx-4 px-4 py-4 md:flex-col md:w-3/4 border-1 border-blue-300 overflow-hidden shadow-lg">
            <h2 class="text-lg font-semibold text-gray-700">Filters</h2>


            <label class="flex items-center">
              <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500">
              <span class="ml-3 text-gray-700">Option 1</span>
            </label>
            <label class="flex items-center">
              <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500">
              <span class="ml-3 text-gray-700">Option 2</span>
            </label>
            <label class="flex items-center">
              <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500">
              <span class="ml-3 text-gray-700">Option 3</span>
            </label>
            <label class="flex items-center">
              <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500">
              <span class="ml-3 text-gray-700">Option 4</span>
            </label>
            <label class="flex items-center">
              <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500">
              <span class="ml-3 text-gray-700">Option 5</span>
            </label>
          </div>
        {% if hotels %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 p-5 md:p-10 lg:p-16">

            {% for hotel in hotels %}
            <div class="group rounded overflow-hidden shadow-lg flex flex-col">
                <div class="relative">

                    <img class="w-full"
                         src="{{ hotel.image_link }}"
                         alt="фото {{ hotel.name }}">
                    <div
                         class="group-hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-15">
                    </div>
                    <div class="text-xs absolute top-0 right-0 bg-blue-600 px-2 py-1 text-white mt-2 mr-2 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                        <i class="fa-solid fa-wifi px-1"></i><i class="fa-solid fa-wheelchair-move px-1"></i><i class="fa-solid fa-spa px-1"></i>
                    </div>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <div class="font-medium text-lg inline-block mb-2">{{ hotel.name }}</div>
                    <div class="text-gray-500 text-sm">
                        <hr class="my-2">
                        <div class="mb-2 pl-1 max-w-xs">{{ hotel.description }}</div>
                        <div class="mb-2 pl-1">{{ hotel.location }}</div>
                        <div class="mb-2 pl-1">{{ " · ".join(hotel.services) }}</div>
                        <div class="pl-1 ">Осталось номеров: {{ hotel.number_of_rooms_left }} из {{hotel.rooms_quantity}}</div>
                    </div>
                </div>
                <div class="py-3 bg-gray-100 flex justify-center items-center">
                            <!-- <div>
                                от
                                <span class="font-bold text-3xl">25 999</span>
                            </div> -->
                            <!-- <span class="mb-5">за 12 ночей</span> -->
                    <button onclick="exploreHotelRooms('{{ hotel.id }}')"
                            class="text-xl text-white bg-slate-400 hover:bg-blue-300 transition duration-300 px-3 py-1 rounded-2xl ">
                        Выбрать номер
                    </button>
                </div>
            </div>

            {% endfor %}
        </div>
    {% endif %}
    </div>
</div>
</body>
{% endblock %}