{% extends "base.html" %}

{% block head %}
<script>
    const searchForOperation = () => {
        const searchInputValue = document.getElementById("operation_search").value;
        const dateFromSelectValue = document.getElementById("date_from").value;
        const dateToSelectValue = document.getElementById("date_to").value;
        window.location.href = `/hotels?location=${searchInputValue}&date_from=${dateFromSelectValue}&date_to=${dateToSelectValue}`;
    }

    const exploreHotelRooms = (hotel_id) => {
        const dateFromSelectValue = document.getElementById("date_from").value;
        const dateToSelectValue = document.getElementById("date_to").value;
        window.location.href = `/hotels/${hotel_id}/rooms?date_from=${dateFromSelectValue}&date_to=${dateToSelectValue}`;
    }
</script>
{% endblock %}

{% block content %}
<div>
    <div class="flex justify-center items-center mb-10">
        <div class="border-2 border-blue-300  rounded-3xl w-1/4 text-lg px-2 py-1 mr-2 text-ellipsis overflow-hidden scroll-px-4">
            <input class="outline-none flex justify-center items-center px-2 mx-2" id="operation_search" size="34" type="text" value="{{ location }}"
                   placeholder="Я ищу...">
        </div>
        <span>С</span>
        <select id="date_from" class="p-2 mx-2">
            {% for date in dates %}
                <option value="{{ date['date'] }}" {{ 'selected' if date['date_formatted'] == date_from }}>
                    {{ date["date_formatted"] }}
                </option>
            {% endfor %}
        </select>
        <span>По</span>
        <select id="date_to" class="p-2 mx-2">
            {% for date in dates %}
                <option value="{{ date['date'] }}" {{ 'selected' if date['date_formatted'] == date_to }}>
                    {{ date["date_formatted"] }}
                </option>
            {% endfor %}
        </select>
        <button onclick="searchForOperation()"
                class="text-xl bg-blue-200 hover:bg-blue-300 px-3 py-1 rounded-2xl">Найти</button>
    </div>
    {% if hotels %}
        <div class="flex flex-col items-center ">
            {% for hotel in hotels %}
                <div class="flex shadow-md w-4/6 mb-5 pr-4 place-items-center hover:bg-slate-100">
                    <img class="w-2/6 max-w-40 max-h-40" src="{{ hotel.image_link }}" alt="фото отеля">
                    <div class="w-3/6 px-4 py-3 ">
                        <div class="pl-1 font-bold">{{ hotel.name }}</div>
                        <hr class="my-2">
                        <div class="mb-2 pl-1 max-w-xs">{{ hotel.description }}</div>
                        <div class="mb-2 pl-1">{{ hotel.location }}</div>
                        <div class="mb-2 pl-1">{{ " · ".join(hotel.services) }}</div>
                        <div class="pl-1">Осталось номеров: {{ hotel.number_of_rooms_left }} из {{hotel.rooms_quantity}}</div>
                    </div>
                    <div class="w-1/6 flex justify-top flex-col items-center py-3">
                        <!-- <div>
                            от
                            <span class="font-bold text-3xl">25 999</span>
                        </div> -->
                        <!-- <span class="mb-5">за 12 ночей</span> -->
                        <button onclick="exploreHotelRooms('{{ hotel.id }}')"
                                class="text-lg bg-blue-200 hover:bg-blue-300 px-3 py-1 rounded-3xl ">
                            Выбрать номер
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}