{% extends "base.html" %}

{% block head %}
    <script>
        async function successfulBooking(roomId) {
            const url = "/bookings";
            const dateFrom = document.getElementById("date_from").value;
            const dateTo = document.getElementById("date_to").value;
            console.log(roomId, dateFrom, dateTo )
            await fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify({room_id: roomId, date_from: dateFrom, date_to: dateTo}),
            }).then(response => {
                if (response.status === 201) {
                    window.location.href = "/pages/bookings"
                }
            });
        }


    </script>
{% endblock %}

{% block content %}
<div>
    <div class="flex justify-center mb-10 text-3xl">
        Выбор номера в&nbsp;<span class="font-bold">{{ hotel.name }}</span>
    </div>
    {% if rooms %}
        <div class="flex flex-col items-center justify-center">
            {% for room in rooms %}
                <div class="flex shadow-md w-4/6 mb-5 pr-4 place-items-center">
                    <img class="w-2/6" src="{{ url_for('static', path='images/' + room.image_id|string + '.webp') }}" alt="Номер">
                    <div class="w-4/6 flex items-center">
                        <div class="w-4/6 px-4 py-3 w-[25rem]">
                            <div class="pl-1 font-bold">{{ room.name }}</div>
                            <hr class="my-2">
                            {% if room.description %}
                                <div class="mb-2 pl-1">{{ room.description }}</div>
                            {% endif %}
                            <div class="pl-1 mb-2">{{ " · ".join(room.services) }}</div>
                            <span class="pl-1 mb-2">Осталось комнат:&nbsp;{{ room.rooms_left }} из {{ room.quantity }}</span>
                        </div>
                        <div class="w-3/6 flex justify-top flex-col items-center">
                            <span class="font-bold text-3xl">{{ room.total_cost }}</span>
                            <span class="mb-1 text-xl">за {{ booking_length }} ночей</span>
                            <span class="mb-2">{{ room.price }} за ночь</span>
                                <div class="flex flex-col items-center">
                                    <span>С {{ date_from_formatted }}</span>
                                    <span class="mb-5">По {{ date_to_formatted }}</span>
                                    <input name="date_from" id="date_from" type="hidden"
                                        type="text" value="{{ date_from }}" readonly="readonly">
                                    <input name="date_to" id="date_to" type="hidden"
                                    type="text" value="{{ date_to }}" readonly="readonly">
                                    <input name="room_id" id="room_id" type="hidden"
                                        value="{{ room.id }}" readonly="readonly">
                                    <button onclick="successfulBooking({{ room.id }})"
                                            class="text-lg bg-blue-300 hover:bg-blue-400 px-3 py-1 rounded-3xl mb-5">
                                        Забронировать
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}