{% extends "base.html" %}

{% block head %}
    <script>

        async function deleteBooking(bookingId) {
            const url = "/api/bookings/?booking_id=" + bookingId;
            console.log(bookingId)
            await fetch(url, {
                method: 'DELETE',
            }).then(response => {
                if (response.status === 204) {
                    window.location.href = "/bookings"
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
<div class="flex justify-center mb-10 text-3xl">
    Мои бронирования
</div>
<div class="flex flex-col items-center">
    {% for booking in bookings %}
        <div>
            <div class="text-2xl font-bold mb-5">
                <span>{{ booking.hotel_name }}</span>
            </div>
            <div class="flex shadow-md mb-5 w-fit pr-4">
                <img src="{{ url_for('static', path='images/' + booking.image_id|string + '.webp') }}" alt="Комната" width="250">
                <div class="px-4 py-3">
                    <div class="pl-1 font-bold">{{ booking.name }}</div>
                    <hr class="my-2">
                    {% if booking.description %}
                        <div class="mb-2 pl-1 max-w-xs">{{ booking.description }}</div>
                    {% endif %}
                    <div class="pl-1">{{ " · ".join(booking.services) }}</div>
                </div>
                <div class="flex justify-top flex-col items-center">
                    <span>Забронировано</span>
                    <span>С {{ booking.date_from }}</span>
                    <span>По {{ booking.date_to }}</span>
                    <span class="font-bold text-3xl">{{ format_number_thousand_separator(booking.total_cost) }}</span>
                    <span class="mb-3">за {{ booking.total_days }} ночей</span>
                    <span hidden id="bookingId">{{ booking.id }}</span>
                    <button onclick="deleteBooking( {{ booking.id }} )" class="text-lg bg-red-300 px-3 py-1 rounded-2xl mb-4">Отменить бронь</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}