<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', path='images/logo.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>
    <script src="{{ url_for('static', path='js/base_script.js') }}" ></script>
    <script>
        /*Toggle dropdown list*/
        function toggleDD(myDropMenu) {
            document.getElementById(myDropMenu).classList.toggle("invisible");
        }
        /*Filter dropdown options*/
        function filterDD(myDropMenu, myDropMenuSearch) {
            var input, filter, ul, li, a, i;
            input = document.getElementById(myDropMenuSearch);
            filter = input.value.toUpperCase();
            div = document.getElementById(myDropMenu);
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
            } else {
            a[i].style.display = "none";
            }
            }
        }

        window.onclick = function(event) {
            if (!event.target.matches('.drop-button')) {
                const dropdowns = document.getElementsByClassName("dropdownlist");
                for (let i = 0; i < dropdowns.length; i++) {
                    const openDropdown = dropdowns[i];
                    if (!openDropdown.classList.contains('invisible')) {
                        openDropdown.classList.add('invisible');
                    }
                }
            }
        }
    </script>
    {% block head %}{% endblock %}
    <title>Отели</title>
</head>
<body class="font-sans leading-normal tracking-normal">
<header class="md:sticky md:top-0 md:z-20">
<nav class="bg-slate-400 mb-10 pt-2 pb-1 px-1 h-auto w-full">
    <div class="flex justify-between px-8 py-3 text-2xl">
      <ul>
          <li><a href="/hotels?location=&date_to=2024-05-01&date_from=2024-04-17" class="text-white text-3xl font-bold"><i class="fa-solid fa-plane"></i> ОТЕЛИ</a></li>
      </ul>
      <ul class="flex gap-x-5">
          {% if cur_user != None %}
          <li>
              <button onclick="toggleDD('dropdownMenu')" class="drop-button text-white"> {{ cur_user }}
              </button>
              <div id="dropdownMenu" class="dropdownlist absolute bg-stone-50 text-black right-3 mt-6 p-3 overflow-auto z-30 invisible">
                  <a href="#" class="drop-button p-2 text-xl hover:bg-slate-300 text-sm no-underline hover:text-white hover:no-underline block"><i class="fa fa-user fa-fw"></i> Мои бронирования</a>
                  <a href="#" class="drop-button p-2 text-xl hover:bg-slate-300 text-black text-sm no-underline hover:text-white hover:no-underline block"><i class="fa fa-cog fa-fw"></i> Настройки</a>
                  <div class="border border-white-800"></div>
                  <a style="cursor: pointer" onclick="logoutUser()" class="drop-button p-2 text-xl hover:bg-slate-300 text-black text-sm no-underline hover:text-white hover:no-underline block"><i class="fas fa-sign-out-alt fa-fw"></i> Выйти из профиля</a>
          </li>
          {% endif %}

          <li>
              <button id="" onclick="{{ 'logoutUser()' if cur_user != None else 'loginLink()' }}" class="button-link text-white">
              {{ "Войти" if cur_user == None else "Выйти" }}</button>
          </li>
      </ul>
    </div>
</nav>
</header>
{% block content %}{% endblock %}
</body>
</html>